.contact__container {
    row-gap: 2rem;;
}

.contact__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__icon {
    aspect-ratio: 1;
    height: 40px;
}

.contact__detail {
    font-weight: var(--font-bold);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 540px) {
    .contact__container {
        grid-template-columns: 350px;
        justify-content: center;
    }
}

@media screen and (min-width: 1150px) {
    .contact__container {
        grid-template-columns: repeat(3, 1fr);
    }
}
