footer {
    height: 54px;
    margin-top: 72px;
    padding-bottom: 72px;
}

footer .container {
    padding: 12px;
    border-radius: 4px;
    background-color: var(--col-yellow);
}

.icons-wrapper {
    display: flex;
    gap: 12px;
}

.footer-icon-container {
    aspect-ratio: 1;
    height: 1.667rem;
}