footer {
    margin-bottom: 2rem;
}

.footer__container {
    place-items: center;
    padding: 1rem;
    background-color: var(--col-yellow);
}

.footer__socials {
    display: flex;
    column-gap: 1rem;
}

.footer__copyright {
    text-align: center;
    font-size: var(--small-font-size);
}

@media screen and (min-width: 1150px) {
    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
}