
.hero-section .column {
    height: 100%;
}
.hero-container {
    display: flex;
    align-items: center;
}

.hero-header {
    margin-bottom: 12px;
}

.hero-line {
    width: 20%;
    height: 1px;
    background-color: var(--col-primary);
}

.hero-section {
    min-height: fit-content;
    padding-top: var(--header-height)
}

.hero-text {
    max-width: 551px;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }
}