.bullet-point {
    aspect-ratio:1;
    height: 40px;
    border-radius: 50%;
    background-color: var(--col-primary);
}

.service-card {
    display: flex;
    gap: 12px;
    padding: 24px 12px;
    background-color: var(--col-light-yellow);
}

.services-wrapper {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

@media (max-width: 727px) {
    .services-wrapper {
        flex-direction: column;
    }
}